<h2 mat-dialog-title>{{ data.curso ? 'Editar Curso' : 'Agregar Curso' }}</h2>

<form [formGroup]="cursoForm" (ngSubmit)="onSave()" mat-dialog-content>
  <mat-form-field class="custom-form-field">
    <mat-label>Nombre</mat-label>
    <mat-select formControlName="nombre">
      <mat-option *ngFor="let option of cursoOptions" [value]="option">{{ option }}</mat-option>
    </mat-select>
    <mat-error *ngIf="cursoForm.get('nombre')?.invalid && (cursoForm.get('nombre')?.dirty || cursoForm.get('nombre')?.touched)">
      <span *ngIf="cursoForm.get('nombre')?.errors?.['required']">El nombre es obligatorio.</span>
    </mat-error>
  </mat-form-field>
  
  <mat-form-field class="custom-form-field">
    <mat-label>Descripción</mat-label>
    <input matInput placeholder="Ingresa la descripción del curso" formControlName="descripcion">
    <mat-error *ngIf="cursoForm.get('descripcion')?.invalid && (cursoForm.get('descripcion')?.dirty || cursoForm.get('descripcion')?.touched)">
      <span *ngIf="cursoForm.get('descripcion')?.errors?.['required']">La descripción es obligatoria.</span>
    </mat-error>
  </mat-form-field>
  
  <mat-form-field class="custom-form-field">
    <mat-label>Fecha inicio - Fecha Fin</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate formControlName="fechaInicio" placeholder="Fecha inicio" />
      <input matEndDate formControlName="fechaFin" placeholder="Fecha fin" />
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>
  
  <div mat-dialog-actions class="custom-dialog-actions">
    <button mat-raised-button color="primary" type="submit" [disabled]="cursoForm.invalid">Guardar</button>
    <button mat-raised-button color="warn" type="button" (click)="onCancel()">Cancelar</button>
  </div>
</form>
