<mat-drawer-container class="example-container" autosize>
  <!-- sideBar inicio --> 
  <mat-drawer [opened]="true" #drawer class="example-sidenav" mode="side">
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard">Inicio</a>
      <a mat-list-item routerLink="/dashboard/cursos">Cursos</a>
      <a mat-list-item routerLink="/dashboard/students">Alumnos</a>
      <a mat-list-item routerLink="/dashboard/inscripciones">Inscripciones</a>
    </mat-nav-list>
  </mat-drawer>
  <!--sideBar fin-->

  <!--main content inicio-->
  <div class="example-sidenav-content">
    <!--toolBar inicio-->
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My App</span>
      <span class="example-spacer"></span>
    </mat-toolbar>
    <!--toolBar fin-->
    <main class="p-3">
      <router-outlet />
    </main>
  </div>
  <!--main content fin-->
</mat-drawer-container>